.gpm-auth-password-title {
    float: left;
    margin-bottom: 5px;
    width: 100%
}

.gpm-auth-password-input {
    float: left;
}

.pcsg-gpm-auth-change-control label {
    width: 250px !important;
}