.gpm-auth-second-password-title {
    float: left;
    margin-bottom: 5px;
    width: 100%
}

.gpm-auth-second-password-show {
    margin: 10px 0;
    clear: both;
    float: left;
}

.gpm-auth-second-password-generate {
    float: left;
    clear: both;
}

.gpm-auth-second-password-input,
.gpm-auth-second-passwordcheck-input{
    float: left;
}

.gpm-auth-second-password label {
    width: initial !important;
}