.sequry-auth-secondpassword-registration-show {
    margin: 10px 0;
    clear: both;
    float: left;
}

.sequry-auth-secondpassword-registration-generate {
    float: left;
    clear: both;
}

.sequry-auth-secondpassword-registration-input,
.sequry-auth-secondpassword-registration-inputcheck {
    float: left;
}

.sequry-auth-secondpassword-registration label {
    margin-right: 10px;
    width: initial !important;
}

.sequry-auth-secondpassword-registration label > span {
    display: block;
}